*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
body {
  color: var(--content);
  transition: color 0.15s ease;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
}

a {
  color: var(--gray);
  background-color: transparent;
  text-decoration: none;
  transition: all 0.4s ease;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2em;
}

.flex {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  margin: 0 auto !important;
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  padding-top: 100px;
}

.icon {
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
  color: inherit;
  line-height: inherit;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.6em;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .content {
    padding-top: 110px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .content {
    padding-top: 120px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .content {
    padding-top: 130px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .content {
    padding-top: 140px;
  }
}
