*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--th-body-color-accent)
}
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2em;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.4em;
  }
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.flex {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

.round {
  border-radius: 50%;
}

.content {
  padding-top: 100px;
}

/* Change Autocomplete styles in Chrome
 * https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid inherit;
  -webkit-text-fill-color: var(--bs-body-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .content {
    padding-top: 110px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .content {
    padding-top: 120px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .content {
    padding-top: 130px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .content {
    padding-top: 140px;
  }
}
