*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

*,
body {
  background-color: var(--background);
  color: var(--content);
  transition: color .15s ease;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: var(--gray);
  text-decoration: none;
  background-color: transparent;
  font-weight: normal;
  transition: all 0.4s ease;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--gray);
}

.flex {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  margin: 0 auto !important;
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  padding-top: 100px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .content {
    padding-top: 110px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .content {
    padding-top: 120px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .content {
    padding-top: 130px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .content {
    padding-top: 140px;
  }
}
